@use "../../variables";

.caractere{
    border: 7px solid variables.$principal-color;
    box-shadow: 0 9px 0 variables.$principal-color-darker;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 3em;
    transition: all 400ms;

    &--certo{
        width: 125px;
        height: 125px;
        background-color: variables.$principal-color;
    }
}