$principal-color: #a437b9;
$principal-color-darker: #8b2e9e;
$gradient-lighter: hsl(214, 47%, 23%);
$gradient-darker: hsl(237, 49%, 15%);

@mixin button_padrao{
    width: 180px;
    background-color: $principal-color;
    color: white;
    height: 50px;
    cursor: pointer;
    padding: 5px 20px;
    border-radius: 5px;
    border: 0;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 400ms;

    &:hover{
        box-shadow: 5px 5px 0 #8b2e9e;
    }
}